html, body {
    margin: 0;
    height: 100%;
    font-size: 12pt;
}

.non-footer-wrap {
    min-height: 100%;
    margin-bottom: -50px;
}

header {
    text-align: center;
    padding: 10px;
}

main {
    width: 80%;
    margin: 0 auto;
    background: #eee;
    padding: 10px;
}

footer {
    height: 50px;
    margin: 0 1%;
    font-size: 10pt;
}

form, table {
    margin: 10px 0;
}

table, th, td {
    border: solid 1px #000;
}

table {
    border-collapse: collapse;
}

thead {
    font-weight: bold;
}

.highlight {
    font-weight: bold;
    background: yellow;
}

.good {
    color: green;
}

.bad {
    color: red;
}
